.label_style2 {
    padding: 10px !important;
    border-radius: 6px !important;
    background-color: #fe5d60 !important;
    border: 1px solid #fe5d60;
    font-size: 16px !important;
    transition: all 0.5s;
  }
  
  .label_style2:hover {
    background-color: #fff !important;
    border: 1px solid #fe5d60;
    color: #000;
  }
  
  .label_style-blue {
    padding: 10px !important;
    border-radius: 6px !important;
    background-color: #4444ff !important;
    border: 1px solid #4444ff;
    font-size: 16px !important;
    transition: all 0.5s;
  }
  
  .label_style-blue:hover {
    background-color: #fff !important;
    border: 1px solid #4444ff;
    color: #4444ff;
  }

  .asilinks-btn {
    border-radius: 6px;
    font-family: Quicksand;
    font-weight: bold;
    border: 0 none;
    height: 52px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
  }

  .blue-btn {
    background-color: #1d1dff;
    color: #ffffff;
  }
  
  .blue-btn:hover {
    background-color: transparent;
    border-style: solid;
    color: #1d1dff;
    border-width: 1px;
  }

  .orange-btn,
.trans-btn:hover {
  background-color: #fe5d60;
  border-style: solid;
  border-width: 1px;
  color: #f2f5f8;
}



.trans-btn,
.orange-btn:hover {
  /* asilinks says trans rights */
  background-color: transparent;
  border-style: solid;
  color: #fe5d60;
  border-width: 1px;
  border-image-slice: 1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #fe5d60;
  border-color: #fe5d60;
}


textarea {
    resize: none;
  }
  
  .form-input {
    background-color: #fafafa;
    /*background-color: #000000;*/
    font-weight: bold;
    margin: 0 auto;
    border-radius: 0;
    border: none;
    height: 52px;
    font-size: 14px;
    width: 100%;
    padding: 1rem;
  }
  
  .form-input-number {
    background-color: #fafafa;
    /*background-color: #000000;*/
    font-weight: bold;
    margin: 0 auto;
    border-radius: 0;
    border: none;
    height: 52px;
    font-size: 14px;
    width: 20%;
    text-align: center;
    padding: 1rem;
  }
  
  .form-control::-webkit-input-placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control::-moz-placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control::-ms-input-placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #858796;
    opacity: 1;
  }
  