<!-- FOOTER -->
<section class="footer3 cid-footer py-5" id="footer3-v">
    <div class="container">
      <div class="media-container-row content">
        <div class="col-md-3 col-sm-12">
          <div class="mb-3 img-logo">
            <a href="/">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <img src="assets/images/logocolorartboard-2.svg" alt="Asilinks" title="" class="float-center img-fluid" width="150"> </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <p class="mbr-text mbr-links-column mbr-fonts-style display-7 text-light">
            <a href="#" class="text-asilinks"><strong>Nosotros</strong></a>
            <br><br>
            <a href="/about_us" class="text-asilinks">¿Quiénes somos?</a>
            <br>
            <!-- <a href="trabaja-nosotros.html" class="text-asilinks">Trabaja con nosotros</a>
            <br> -->
            <a href="/contact" class="text-asilinks">Contáctanos</a>
            </p>
        </div>
        <div class="col-md-3 col-sm-12">
          <p class="mbr-text mbr-links-column mbr-fonts-style display-7">
            <a href="#" class="text-asilinks"><strong>Descubre</strong></a>
            <br><br>
            <a href="/" class="text-asilinks">Inicio</a>
            <br>
            <a href="/how_it_works" class="text-asilinks">¿Cómo funciona?</a>
            <br>
            <a href="/benefits" class="text-asilinks">¿Cómo ser Socio/Cliente Asilinks?</a>
            <br>
            <!-- <a href="beneficios.html#cliente" class="text-asilinks">¿Cómo ser un Cliente Asilinks?</a>
            <br> -->
            <a href="/FAQ" class="text-asilinks">FAQ</a>
            <br>
            <a routerLink="/conducta" class="text-asilinks">Código de Conducta</a>
            <br>
            <a routerLink="/terminos" class="text-asilinks">Términos y condiciones</a>
          </p>
        </div>
        <div class="col-md-3 col-sm-12">
          <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
            <a href="#" class="text-asilinks"><strong>Áreas</strong></a>
            <br><br>
            <a href="/administration" class="text-asilinks" style="display: block;">
              Administración
            </a>
            <a href="/accounting" class="text-asilinks" style="display: block;">
              Contabilidad
            </a>
            <a href="/finance_and_business" class="text-asilinks" style="display: block;">
              Finanzas y Negocios
            </a>
            <a href="/foreign_trade" class="text-asilinks" style="display: block;">
              Comercio exterior
            </a>
            <a href="/communications" class="text-asilinks" style="display: block;">
              Comunicaciones
            </a>
            <a href="/building" class="text-asilinks" style="display: block;">
              Construcción
            </a>
            <a href="/design" class="text-asilinks" style="display: block;">
              Diseño
            </a>
            <a routerLink="/categorias" class="text-asilinks"><u>Ver más</u></a>
          </p>
        </div>
      </div>
      <div class="footer-lower">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h1 class="text-asilinks display-6"> S&iacute;guenos</h1>
            <div class="social-list">
              <div class="soc-item">
                <a href="https://twitter.com/asilinks" target="_blank"> <i class="fa fa-twitter mbr-iconfont mbr-iconfont-social"></i> </a>
              </div>
              <div class="soc-item">
                <a href="https://www.facebook.com/Asilinks/" target="_blank"> <i class="fa fa-facebook mbr-iconfont-social"></i> </a>
              </div>
              <!-- <div class="soc-item">
                <a href="https://www.youtube.com/asilinks" target="_blank"> <i class="fa fa-youtube mbr-iconfont-social"></i> </a>
              </div> -->
              <div class="soc-item">
                <a href="https://www.instagram.com/asilinks/" target="_blank"> <i class="fa fa-instagram mbr-iconfont mbr-iconfont-social"></i> </a>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </section>