<footer class="footer my-5">
  <div class="container">
    <div class="row reverse">
      <div class="col-md-3 posicion-footer">
        <div class="col-md-12">
          <a class="navbar-brand" href="index.ejs">
            <img
              src="../../assets/images/asilinks-logo-footer.png"
              alt="logo"
              class="imagen-footer"
            />
          </a>
          <p class="copy py-5">Copyright © 2020 Asilinks</p>
          <div class="wrapper">
            <a href="https://www.instagram.com/asilinks/">
              <img
                src="../../assets/images/instagram.svg"
                alt="instagram"
                class="instagram mr-2 mr-md-5"
              />
            </a>
            <a href="https://www.facebook.com/Asilinks/">
              <img
                src="../../assets/images/facebook.svg"
                alt="facebook"
                class="facebook mr-2 mr-md-5"
              />
            </a>
            <a href="https://twitter.com/asilinks">
              <img
                src="../../assets/images/twitter.svg"
                alt="twitter"
                class="twitter"
              />
            </a>
          </div>
        </div>

        <div class="col-md-12 asilinker">
          <img
            src="../../assets/images/coding.png"
            alt="coding"
            class="coding"
          />
        </div>
      </div>
      <div class="col-md-6 offset-md-3 columnas">
        <div class="widget widget-1 py-5">
          <h3>Nosotros</h3>
          <nav class="nav flex-column">
            <a href="/info" class="nav-link">¿Quiénes somos?</a>
            <a href="#contacto" class="nav-link">Contáctanos</a>
          </nav>
        </div>
        <div class="widget widget-2 py-5">
          <h3>Descubre</h3>
          <nav class="nav flex-column">
            <a href="/" class="nav-link">Inicio</a>
            <a href="/info" class="nav-link">¿Cómo funciona?</a>
            <a href="/benefits" class="nav-link">Beneficios</a>
            <a href="/faq" class="nav-link">FAQ</a>
            <a href="/ethics" class="nav-link">Código de Conducta</a>
            <a href="/terms" class="nav-link">Términos y condiciones</a>
          </nav>
        </div>
        <div class="widget widget-3 py-5">
          <h3>Áreas</h3>
          <nav class="nav flex-column">
            <a href="/business" class="nav-link">Digital Business</a>
            <a href="/administration" class="nav-link">Administración</a>
            <a href="/accounting" class="nav-link">Contabilidad</a>
            <a href="/finance_and_business" class="nav-link"
              >Finanzas y Negocios</a
            >
            <a href="/foreign_trade" class="nav-link">Comercio exterior</a>
            <a href="/communications" class="nav-link">Comunicaciones</a>
            <a href="/building" class="nav-link">Construcción</a>
            <a href="/design" class="nav-link">Diseño</a>
            <a href="/management" class="nav-link">Gerencia</a>
            <a href="/ingenieria" class="nav-link">Ingeniería</a>
            <a href="/legal" class="nav-link">Legal</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/f2e1cd452b.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" src="/assets/scripts/landing.js"></script>
</footer>
