<!-- Topbar(width>1440px) -->
<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow breakpoint_navbar"
>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav mr-auto">
    <img
      class="img-profile"
      src="/assets/images/logocolorartboard-2.svg"
      style="width: 15%;"
    />
  </ul>

  <div class="dropdown no-arrow rounded-circle mr-3 breakpoint_dropdown">
    <a
      class="dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLinkNav"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fas fa-ellipsis-h fa-sm fa-fw text-blue-400"></i>
    </a>
    <div
      class="dropdown-menu dropdown-menu-right shadow animated--fade-in flag py-0"
      aria-labelledby="dropdownMenuLinkNav"
      x-placement="bottom-end"
      style="
        position: absolute;
        transform: translate3d(-310px, 30px, 0px);
        top: 0px;
        left: 0px;
        will-change: transform;
        min-width: 23rem;
      "
    >
      <div
        class="sidebar-brand d-flex align-items-center justify-content-center"
      >
        <div class="col-12 pink-bg">
          <%- include('partner-info'); -%>
        </div>
      </div>
    </div>
  </div>
</nav>
