button {

  margin: 0 auto;
  display: block;

}

label {

	margin: 0;

}

hr {

	border: 0;
	clear:both;
	display:block;
	width: 100%;
	background-color:#FEEEEF;
	height: 1px;

}

.orange-circle {

	height: 30px;
	width: 30px;
	border-radius: 50% !important;

}

.text-24 {

	font-size: 24px;

}

.btn {

	margin: 0;

}

.profile-image {

	width: 100%;
	height: 240px;
	object-fit: contain;

}

@media screen and (max-width: 600px) {


	.profile-image {

		width: 60%;

	}

}

.bigger-title {

	font-size: 36px;

}

.big-title {

	font-size: 21px;

}

.mid-title {

	font-size: 18px;

}

.small-title, .nav-item {

	font-size: 14px;

}

.small-icon {

	border-radius: 8px;

}

.card-header {

	border-radius: 42px 42px 0 0 !important;
	background-color: #FFFFFF;

}

.card-footer {

	border-radius: 0 0 42px 42px !important;
	background-color: #FEEEEF;

}

.card-decoration {

	border-radius: 18px 0 0 18px;

}

.card.card-decoration {

	border-radius: 18px;

}

.decorative-square {

	height: 110px;
	width: 100%;

}

.card-img-top {

	height: 200px;
	border-radius: 30px !important;
  	object-fit: none;

}

input.send-message {

	border-radius: 26px;
	height: 52px;
	padding: 1rem;
	font-size: 14px;
	border: none;

}

.task-tag {

  	border: 1px solid #E74267;
  	color: #FF5D60;
	border-radius: 12px;

}

.client-tag {

  	background-color: #5D60FE;
  	color: #FFFFFF;
	border-radius: 12px;

}

.partner-tag {

  	background-color: #E74267;
  	color: #FFFFFF;
	border-radius: 12px;

}

.two-btn-group {

	display: none;

}

@media screen and (max-width: 485px) {

	.hor-btn-group {

		display: none;

	}

	.two-btn-group {

		display: flex;

	}

}

/* Cosas del mini navbar */

.bg-light {

	background-color: #FFFFFF !important;

}

.navbar-nav > li.active {

	padding: 0;
}

.nav-item .nav-link {

	color: #FEA9AB !important;

}

.nav-item:hover {

	background-color: #FFF7F8;

}

.navbar-nav .active, .navbar-nav .active:hover, .more-btn {

	background-color: #FEEEEF;

}

.more-btn {

	height: 30px;
	width: 32px;

}

.active .nav-link, .nav-link:hover {

	color: #FE5D60 !important;

}

.btn-group .opportunity-btn, .btn-group .referred-btn {

  	font-weight: bold;
  	border-radius: 18px !important;
  	color: #fea9ab;

}

.btn-group .opportunity-btn:hover, .btn-group .referred-btn:hover {

  	color: #FE5D60;

}

.opportunity-btn.active, .referred-btn.active, .opportunity-btn.active:hover, .referred-btn.active:hover {

	background-image: linear-gradient(to right, #e74267, #ff5d60);
	color: #FFFFFF;

}

.info-option {

	cursor: pointer;
	font-weight: bold;

}

.info-option.active {

	color: #E74267;

}

.add-info {

	color: #2A2A35;

}

/* Fin cosas del mini navbar */
/* Cosas del circulo */

.ldBar path.mainline {

	stroke-width: 6;
	stroke: #00AB84;
	stroke-linecap: round;

}

.ldBar path.baseline {

	stroke-width: 4;
	stroke: #EAEAEA;
	stroke-linecap: round;

}

.ldBar-label {
    color: #00AB84;
    font-size: 1.5em;
    font-weight: bold;
}

/* Fin de cosas del circulo */

/* Cosas del referred invite */

.partner-input input {

	background-color: transparent;
	font-size: 16px;
	color: #FFFFFF;
	height: 36px;
	border: solid 1px #ffffff;

}

.partner-input input:focus {

	background-color: transparent;
	font-size: 16px;
	color: #FFFFFF;
	border: solid 1px #ffffff;

}

.partner-input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */

  	color: #FFFFFF;
  	opacity: 1; /* Firefox */

}

.partner-input input:-ms-input-placeholder { /* Internet Explorer 10-11 */

  	color: #FFFFFF;

}

.partner-input input::-ms-input-placeholder { /* Microsoft Edge */

  	color: #FFFFFF;

}

.partner-input div button {

	background-color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	color: #2A2A35;
	height: 36px;

}

/* Fin de cosas del referred invite */

/* Cosas del modal */

h5.modal-title {

	font-size: 24px;
	color: #FE5D60;
	font-weight: bold;
  	text-align: center;

}

#modalClose {

	background-color: #FEEEEF;
	border-radius: 50%;
	color: #FE5D60;

}

.rating-active {

 	background-image: linear-gradient(to right, #E74267, #FF5D60);
  	color: #FFFFFF;

}

/* Fin de cosas del modal */
/* Cosas del table */

table.asilinks-table thead th {

	border-bottom: 1px solid #FEEEEF;
	border-top: 0;

}

table.asilinks-table td {

	border-top: 1px solid #FEEEEF;

}

.asilinks-table th {

	font-size: 16px;
	color: #B5C7D3;

}

.asilinks-table td {

	font-size: 14px;
	font-weight: bold;

}

/* Fin de cosas del table */
