#menu2-j{
    display: none; 
}

#menu2-j {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { opacity:0 } 
    to { opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ opacity:0 } 
    to{ opacity:1 }
  }